.data-filter {
    display: flex;
    width: 60%;
    margin-top: 60px;
    font-size: 24px;
    border: 4px solid rgb(152, 78, 32);

    &__section-hierarchy {
        width: 30%;
        text-align: center;
        border-left: 2px solid rgb(152, 78, 32);
        border-right: 2px solid rgb(152, 78, 32);
    }

    &__section-filters {
        width: 70%;
        text-align: left;
        border-left: 2px solid rgb(152, 78, 32);
        border-right: 2px solid rgb(152, 78, 32);
    }

    &__header {
        position: relative;
        text-align: center;
        padding: 8px 0;
        border-bottom: 4px solid rgb(152, 78, 32);

        .back-button {
            position: absolute;
            left: 8px;
            bottom: 4px;
            padding: 5px;
            background-color: #626272;
            border-radius: 10px;
            cursor: pointer;
            // display: none;
        }
    }
}