.filters {
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    overflow: hidden;

    .property {
        height: 40px;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;

        &__name {
            display: inline-block;
            padding: 3px;
            margin-right: 5px;
            background-color: #303041;
            border-radius: 5px;
            font-family: "Play";
            font-size: 20px;
        }

        &__values {
            display: inline-block;
            font-size: 20px;
            overflow: hidden;
        }

        &__expand {
            margin-left: 5px;
            background-color: #303041;
            border-radius: 5px;
            padding: 1px;
            cursor: pointer;
        }

        &__val {
            display: inline-block;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        &__separator {
            display: inline-block;
            margin-right: 5px;
        }

        .isActive {
            background-color: #303041;
            border-radius: 3px;
            padding: 2px 3px;
        }

        &.expanded {
            height: auto;
            white-space: normal;
            justify-content: space-between;

            .property__name {
                align-self: flex-start;
            }

            .property__values {
                display: block;
            }

            .property__val {
                display: block;
                margin: 5px 0;
            }

            .property__separator {
                display: none;
            }

            .property__expand {
                padding: 0 7px;
                align-self: flex-end;
                background-color: rgb(152, 78, 32);
            }
        }
    }
}
