.filters {
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    overflow: hidden;

    .property {
        height: 50px;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;

        &__name {
            display: inline-block;
            padding: 3px;
            margin-right: 8px;
            background-color: #303041;
            border-radius: 5px;
        }

        &__values {
            display: inline-block;
            font-size: 20px;
            overflow: hidden;
        }

        &__expand {
            margin-left: 5px;
            background-color: #303041;
            color: white;
            border-radius: 5px;
            padding: 1px;
            cursor: pointer;
        }
    }
}
