.link-field {
    position: relative;
    margin-top: 20px;
    margin-left: 25px;

    form {

        input {
            margin-right: 5px;
            width: 500px;
            height: 22px;
            color: black;
        }

        button {
            padding: 2px 3px;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
