* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
#root {
    height: 100%;
    width: 100%;
}

body {
    /*background: linear-gradient(to bottom, rgba(5, 5, 5, 1) 0%, rgba(24, 25, 25, 1) 100%);*/
    background-color: black;
}


@import url(./LinkField.scss);
