.link-field {
    position: relative;
    top: 20px;
    left: 25px;

    form {

        input {
            margin-right: 5px;
            width: 500px;
            height: 22px;
            color: black;
        }

        button {
            padding: 2px 3px;
            color: black;
        }
    }
}